extends layout

block content
	h1 Chunk Scatter
	p Analyze one or more http responses and visualize chunks over time.

	div(ng-controller="MainController as mc")
		form(role="form", ng-submit="mc.submit()")
			.form-group
				textarea.form-control(rows="5", ng-model="mc.endpointsInput", ng-keypress="mc.endpointsInputKeypress($event)")
				span.text-danger.hidden(ng-class="{hidden: !mc.errorMsg}") {{mc.errorMsg}}
				span.help-block Enter CSV of endpoint label and url.
			.checkbox.
				<label>
					<input type="checkbox" ng-model="mc.useGzip"> Accept gzip
				</label>
			button.btn.btn-primary(type="submit", ng-disabled="mc.submitInProgress") OK
			img#loadinfo.hidden(src="/images/loadinfo.gif", ng-class="{hidden: !mc.submitInProgress}")

		#chart-div(scatter-chart, ng-model="mc.chartData", image-uri="mc.chartImageUri")
		a#image-link.hidden(ng-href="{{mc.chartImageUri}}", ng-class="{hidden: !mc.chartImageUri}") Image

	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
	script(type="text/javascript", src="https://www.google.com/jsapi")
	script(type="text/javascript", src="/javascripts/app.js")
	script(type="text/javascript", src="/javascripts/main-controller.js")
	script(type="text/javascript", src="/javascripts/scatter-chart-directive.js")
	script(type="text/javascript", src="/javascripts/chunk-graph-data-fetcher.js")